NEXT_PUBLIC_STARKNET_NODE_URL=https://starknet-mainnet.g.alchemy.com/v2/API_KEY
NEXT_PUBLIC_STAKING_CONTRACT_ADDRESS=0x014f337b7e30e74827a22ba497b90d011efb57d16553ddc9cd10d0d3ecc5a106

NEXT_PUBLIC_API_HOST_METADATA=https://assets.hyperflex.services/
NEXT_PUBLIC_STARKNET_NODE_URL=https://starknet-mainnet.g.alchemy.com/v2/API_KEY
NEXT_PUBLIC_API_HOST_METADATA_URI=https://assets.hyperflex.services/metadata/

NEXT_PUBLIC_API_STAGING=https://api-staging.hyperflex.services/
# NEXT_PUBLIC_API_HOST=https://api-dev.hyperflex.services/
# NEXT_PUBLIC_API_HOST=http://localhost:2050/
NEXT_PUBLIC_API_HOST=https://api.hyperflex.services/