.dropdown-ani {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows;
}

.dropdown-ani > div {
  overflow: hidden;
}

.dropdown-ani-r {
  grid-template-rows: 1fr;
}

.filter-ani {
  display: grid;
  grid-template-columns: 0fr;
  transition: grid-template-columns;
}

.filter-ani > div {
  overflow: hidden;
}

.filter-ani-r {
  grid-template-columns: 1fr;
}

@keyframes slide {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(100%);
  }
}

.loader div {
  animation: slide 1.5s linear infinite;
  background: linear-gradient(to left, #ffe720, #ffffff00);
}

.loader div:nth-child(1) {
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  animation-delay: 0.5s;
}

.loader div:nth-child(3) {
  animation-delay: 1s;
}

@keyframes show-loading {
  0% {
    scale: 0.75;
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}

.animate-show-loading {
  animation: show-loading 6s linear;
}
