@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "../styles/dimension.css";
@import "../styles/color.css";
@import "../styles/font.css";
@import "../styles/animation.css";
@import "../styles//fix-lib.css";
@import "../packages/@ui-kit/styles/index.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  /* background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  ); */
  background-color: #0D0E13;
  color: #fff;
  font-family: "Pixel Operator Mono";
  font-weight: 400;
  /* font-family: "atyp", sans-serif; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Global Scrollbar Styles */
::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #545353;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #171717;
}
